<link rel="stylesheet" href="css/style1.css" />

<div class="container">
  <div class="container1">
    <form action="" method="post" onsubmit="return checkInteries()">
      <h1>Sign Up</h1>
      <div class="Icontainer">
        <div class="containerA">
          <input id="inp1" name="userName" class="sofInp" type="text" />
          <label for="inp1" id="lInp1">username : </label>
          <p data-micron="shake" id="warn1" class="warn userName"></p>
          <div class="icon1" id="icon1"></div>
        </div>
        <div class="containerA">
          <input id="inp2" name="phoneNumber" class="sofInp" type="number" />
          <label for="inp2" id="lInp2">Phone Number : </label>
          <p data-micron="shake" id="warn2" class="warn phoneNumber"></p>
          <div class="icon1" id="icon2"></div>
        </div>
        <div class="containerA">
          <input id="inp3" name="email" class="sofInp" type="text" />
          <label for="inp3" id="lInp3">Email : </label>
          <p data-micron="shake" id="warn3" class="warn email"></p>
          <div class="icon1" id="icon3"></div>
        </div>
        <div class="containerA">
          <input id="inp4" name="password" class="sofInp" type="password" />
          <label for="inp4" id="lInp4">Type a Password : </label>
          <div class="icon1" id="icon4"></div>
        </div>
        <div class="containerA">
          <input id="inp5" class="sofInp" type="password" />
          <label for="inp5" id="lInp5">Retype the Password : </label>
          <div class="icon1" id="icon5"></div>
        </div>
        <div id="submitBtnContainer">
          <input
            type="button"
            class="btn btn-info"
            id="submitBtn"
            value="Sign Up" />
        </div>
      </div>
    </form>
  </div>
  <h1 class="coder">Coded By Soufyan</h1>
</div>

<script src="js/signup.js"></script>
<script src="js/signup1.js"></script>
